:root {
    --danger-border: #ff0000;
}

.danger {
    margin: 20px;
    padding: 0 20px;
    border-inline-start: 2px solid var(--warning-border);
}

.danger:before {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-inline-start: calc(-1.5rem - 21px);
    content: "⚠";
    text-align: center;
    background-color: var(--bg);
    color: var(--danger-border);
    font-weight: bold;
    font-size: 2rem;
}

blockquote .danger:before {
    background-color: var(--quote-bg);
}