:root {
    --danger-border: #ff0000; /* Red for danger */
    --info-border: #17a2b8;   /* Blue for info */
    --success-border: #28a745; /* Green for success */
}

/* Base styles for danger, info, and success */
.danger, .info, .success {
    margin: 20px;
    padding: 0 20px;
}

.danger {
    border-inline-start: 2px solid var(--danger-border);
}

.danger:before, .info:before, .success:before {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-inline-start: calc(-1.5rem - 21px);
    content: "⚠"; /* Default content, can be changed per class */
    text-align: center;
    background-color: var(--bg);
    font-weight: bold;
    font-size: 2rem;
}

/* Adjusting the before content for info and success */
.info:before {
    content: "ⓘ"; /* Info icon */
    color: var(--info-border);
}

.success:before {
    content: "✔️"; /* Check mark for success */
    color: var(--success-border);
}

/* Setting background colors for blockquote */
blockquote .danger:before, blockquote .info:before, blockquote .success:before {
    background-color: var(--quote-bg);
}

/* Info specific styles */
.info {
    border-inline-start: 2px solid var(--info-border);
    color: var(--info-border);
}

/* Success specific styles */
.success {
    border-inline-start: 2px solid var(--success-border);
    color: var(--success-border);
}