<%- include("partials/header") %>
    <div class="container">
    <form action="/" method="post">
        <label for="name">What's your name?</label>
        <input type="text" id="name" name="name">

        <label for="animal">What animal are you looking for?</label>
        <select id="animal" name="animal">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="rabbit">Rabbit</option>
        </select>

        <button type="submit">Submit</button>
    </form>
    </div>
<%- include("partials/footer") %>
