<ul>
    <li><a href="/math/add?a=2&b=4">2+4</a></li>
    <li><a href="/math/min?a=2&b=4">2-4</a></li>
    <li><a href="/math/mult?a=2&b=4">2*4</a></li>
    <li><a href="/math/div?a=4&b=2">4/2</a></li>
    <li><a href="/contact">Contact Form</a></li>
    <li><a href="/newspaper">Newspaper</a></li>
</ul>