<html>
    <head>
        <title>Newspaper</title>
        <link rel="stylesheet" href="/css/newspaper.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="/newspaper">Home</a>
            <% for (let topic of topics) { %>
                <a href="/newspaper/<%= topic %>"><%= topic %></a>
            <% } %>
            <a href="/newspaper/search">Search</a>
        </nav>